---
import ProductLink from '~/components/product/ProductLink.astro'
import { prisma } from 'schema'

import Layout from '../layouts/Layout.astro'

const products = await prisma.product.findMany({
  take: 10,
  select: { id: true, name: true, image: true, price: true },
})
---

<Layout title='Welcome to Astro.'>
  <div class='bg-white'>
    <div
      class='mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8'
    >
      <h2 class='sr-only'>Products</h2>
      <div
        class='grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
      >
        {
          products.map((product) => (
            <ProductLink link={`/products/${product.id}`} product={product} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
