{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:eslint-plugin-config/perfectionist"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
