---
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta content='width=device-width' name='viewport' />
    <link href='/favicon.svg' rel='icon' type='image/svg+xml' />
    <meta content={Astro.generator} name='generator' />
    <title>{title}</title>

    <link href='https://fonts.googleapis.com' rel='preconnect' />
    <link crossorigin href='https://fonts.gstatic.com' rel='preconnect' />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap'
      rel='stylesheet'
    />

    <ViewTransitions />
  </head>

  <body class='text-gray-900 subpixel-antialiased text-sm'>
    <div class='mx-auto my-8 max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
      <slot />
    </div>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        @font-face {
          font-family: 'Inter fallback';
          src: local('Arial');
          size-adjust: 107.4014%;
          ascent-override: 90.199%;
          descent-override: 22.4836%;
          line-gap-override: 0%;
        }

        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        li::marker {
          color: #d1d5db;
        }
      }

      @layer components {
        ::view-transition-old(*),
        ::view-transition-new(*) {
          height: 100%;
        }
      }
    </style>
  </body>
</html>
