---
interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta content='width=device-width' name='viewport' />
    <link href='/favicon.svg' rel='icon' type='image/svg+xml' />
    <meta content={Astro.generator} name='generator' />
    <title>{title}</title>

    <link href='https://fonts.googleapis.com' rel='preconnect' />
    <link crossorigin href='https://fonts.gstatic.com' rel='preconnect' />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap'
      rel='stylesheet'
    />
  </head>

  <body class='text-gray-900 subpixel-antialiased text-sm'>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'Inter fallback';
      src: local('Arial');
      size-adjust: 107.4014%;
      ascent-override: 90.199%;
      descent-override: 22.4836%;
      line-gap-override: 0%;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    li::marker {
      color: #d1d5db;
    }
  }

  @layer components {
    .product-title {
      view-transition-name: product-title;
    }

    ::view-transition-old(product-title),
    ::view-transition-new(product-title) {
      width: 100%;
    }

    .product-image {
      view-transition-name: product-image;
    }

    ::view-transition-old(product-image),
    ::view-transition-new(product-image) {
      height: 100%;
    }
  }
</style>
